.background {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 200px;
  background-size: cover;
  text-align: center;
  top: 0;
}
.background h1 {
  font-size: 42px;
  color: #fff;
  line-height: 230px;
  text-transform: uppercase;
  font-weight: 100;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.background.sticky-header h1 {
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
}
#maincontent {
  margin-top: 300px;
}
@media (max-width: 767px) {
  .background {
    height: 200px;
  }
  #maincontent {
    margin-top: 200px;
  }
}
#middle nav {
  position: absolute;
  top: 0;
}
.info {
  border-radius: 3px;
  font-size: 14px;
  margin: 0;
  overflow: hidden;
}
.info button {
  background: #f8f8f8;
  border: 0;
  border-bottom: 1px solid #fff;
  cursor: pointer;
  font-weight: 400;
  position: relative;
  text-align: center;
  width: 100%;
}
.info button:hover {
  background: #698ebf;
  border-bottom-color: #fff;
  color: #fff;
}
.info button i {
  display: inline-block;
}
.info .hidemenu {
  display: none;
}
.more {
  background: #f8f8f8;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  height: 24px;
  line-height: 24px;
  position: relative;
  text-align: center;
}
.load {
  margin-bottom: 20px;
  background: white;
  padding: 5px ;
  border-radius: 2px;
  box-shadow: 3px 3px 2px #DCDCDE;
}
.latestpost {
  background-color: white;
  position: relative;
  padding: 5px;
  border-radius: 3px;
  margin-bottom: 10px;
  box-shadow: 3px 3px 2px #DCDCDE;
}
.latestpost .username {
  font-size: 12px;
  background-color: #f8f8f8;
}
.latestpost .username .name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.latestpost .username > img {
  border-radius: 3px;
  width: 100%;
  max-height: 50px;
}
.latestpost .username > .userinfo {
  z-index: 2;
  padding: 5px;
  border: 1px solid #f8f8f8;
  box-shadow: 0 0 1px #DCDCDE;
  border-radius: 5px;
  width: 300px;
  height: 125px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  top: 0;
  display: none;
}
.latestpost .username > .userinfo > a {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: #f1f2f3;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  text-align: center;
}
.latestpost .username > .userinfo > .back {
  height: 60px;
  background: url(../images/test_bck.jpg) no-repeat center;
  background-size: cover;
}
.latestpost .username > .userinfo > .back > img {
  width: 60px;
  height: 60px;
  float: left;
}
.latestpost .username > .userinfo > .back > .fullname {
  background-color: rgba(255, 255, 255, 0.8);
  height: 60px;
}
.latestpost .username > .userinfo > .space {
  margin-top: 5px;
  height: 20px;
}
.latestpost .username > .userinfo > .focus {
  height: 30px;
  background-color: #cccccc;
  padding: 5px;
}
.posttitle {
  color: #286090;
  font-size: 18px;
  margin: 5px 0;
}
.abstract {
  cursor: pointer;
}
.abstract .col-md-3 img {
  padding-left: 3px;
  border-radius: 3px;
}
.postbody {
  display: none;
  background-color: #fafafa;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 1500px;
}
.corner {
  position: absolute;
  bottom: 0;
  right: 0;
  overflow: hidden;
  border-top: 50px solid transparent;
  border-right: 50px solid rgba(204, 204, 204, 0.8);
  box-shadow: 2px 2px 1px #DCDCDE;
}
.box:after,
.box:before,
.post:after,
.post:before,
.widget:after,
.widget:before {
  clear: both;
  content: '\0020';
  height: 0;
  visibility: hidden;
  width: 0;
}
.box {
  word-wrap: break-word;
}
.box:after {
  display: block;
}
.box:before {
  display: block;
}
.widget.wid-vid ul a {
  border-bottom: 1px solid transparent;
  border-left: none;
  border-right: none;
  border-top: none;
  color: #333333;
  display: inline;
  float: left;
  font-weight: 700;
  margin: 3px 2px;
  padding: 5px;
}
.widget.wid-vid ul a:focus {
  background: 0 0;
  border-left: none;
  border-right: none;
  border-top: none;
}
.widget.wid-vid ul a:hover {
  background: 0 0;
  border-left: none;
  border-right: none;
  border-top: none;
}
.widget.wid-vid ul li {
  border-bottom: 1px solid transparent;
}
.widget.wid-vid ul li:hover {
  border-bottom: 1px solid #fd0005;
}
.widget.wid-vid ul li.active {
  border-bottom: 1px solid #fd0005;
}
.widget.wid-vid ul li:hover {
  border-bottom: 1px solid #7DC314;
}
.widget.wid-vid ul li + li:hover {
  border-bottom: 1px solid #966B20;
}
.widget.wid-vid .tab-content {
  margin-top: 13px;
}
.widget.wid-vid .post {
  margin-top: 12px;
}
#maincontent {
  background: url(../images/bg2.jpg);
}
.widget {
  background-color: #fff;
  padding: 10px 20px;
}
.widget:after {
  display: block;
}
.widget:before {
  display: block;
}
.widget ul li {
  display: inline;
  list-style: none;
}
.nav-tabs > li.active > a {
  background: 0 0;
}
.nav-tabs > li.active > a:focus {
  background: 0 0;
}
.nav-tabs > li.active > a:hover {
  background: 0 0;
}
.post {
  margin-bottom: 15px;
}
.post:last-child {
  margin-bottom: 0;
}
.post:after {
  display: block;
}
.post:before {
  display: block;
}
.post img {
  display: inline-block;
  float: left;
  max-width: 125px;
}
