html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: sans-serif;
  font-size: 15px;
}
body {
  color: #333333;
  background: #F1F2F3;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.42857;
  margin: 0;
  overflow: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
.main {
  margin-top: 50px;
}
* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.hide {
  display: none !important;
}
.navbar {
  left: 0;
  position: fixed;
  top: 0;
  transition: top .5s;
  width: 100%;
  z-index: 100;
}
.navbar img {
  height: 20px;
  width: 20px;
}
img {
  height: auto;
  max-width: 100% !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
  color: #777777;
  font-weight: normal;
  line-height: 1;
}
h1 small,
.h1 small,
h2 small,
.h2 small,
h3 small,
.h3 small,
h1 .small,
.h1 .small,
h2 .small,
.h2 .small,
h3 .small,
.h3 .small {
  font-size: 65%;
}
h4 small,
.h4 small,
h5 small,
.h5 small,
h6 small,
.h6 small,
h4 .small,
.h4 .small,
h5 .small,
.h5 .small,
h6 .small,
.h6 .small {
  font-size: 75%;
}
small {
  font-size: 80%;
}
h1 {
  font-size: 36px;
}
.h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
}
.h2 {
  font-size: 30px;
}
h3 {
  font-size: 24px;
}
.h3 {
  font-size: 24px;
}
h4 {
  font-size: 18px;
}
.h4 {
  font-size: 18px;
}
h5 {
  font-size: 14px;
}
.h5 {
  font-size: 14px;
}
h6 {
  font-size: 12px;
}
.h6 {
  font-size: 12px;
}
.fr {
  float: right;
}
.clear {
  clear: both;
}
a {
  color: #286090;
  text-decoration: none;
}
a:active {
  color: #ff5500;
  outline: 0;
  text-decoration: underline;
}
a:hover {
  color: #ff5500;
  outline: 0;
  text-decoration: underline;
}
b {
  font-weight: bold;
}
.tag {
  word-break: break-all;
  word-wrap: break-word;
}
.tag a {
  background-color: #FAFAFA;
  border-radius: 2px;
  color: #8e9c96;
  font-size: 13px;
  margin-right: 5px;
  padding: 4px 8px;
  text-transform: capitalize;
}
.tag a:hover {
  background-color: #8e9c96;
  border: 1px solid #8e9c96;
  color: #ffffff;
  text-decoration: none;
}
.tag a:active {
  background-color: #8e9c96;
  color: #ffffff;
}
.tag a:focus {
  background-color: #8e9c96;
  color: #ffffff;
}
.tag .active {
  background-color: #8e9c96;
  color: #ffffff;
}
.postbody {
  text-overflow: ellipsis;
  text-wrap: normal;
  word-break: break-all;
  word-wrap: break-word;
}
.fixed {
  position: fixed;
}
.-top {
  top: -90px;
}
.top0 {
  top: 0;
  z-index: 9999;
}
.txtcenter {
  text-align: center;
}
.width0 {
  width: 0px;
}
.scroll {
  -khtml-opacity: 0.8;
  -moz-opacity: 0.8;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -ms-transform: scale(1, 0);
  -o-transform-origin: 50% 50%;
  -o-transform: scale(1, 0);
  -o-transition: all 0.35s ease-in;
  -webkit-transform-origin: 50% 50%;
  -webkit-transform: scale(1, 0);
  -webkit-transition: all 0.35s ease-in;
  background: #ffffff;
  border-radius: 3px;
  bottom: 40px;
  filter: alpha(opacity=80);
  opacity: 0.8;
  padding: 1px;
  position: fixed;
  right: 15px;
  transform-origin: 50% 50%;
  transform: scale(1, 0);
  transition: all 0.35s ease-in;
  z-index: 100;
}
.scroll .toTop {
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  background: #1abc9c;
  border-bottom: 1px solid #bfd1d8;
  border-radius: 3px 3px 0 0;
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  text-align: center;
  transition: all 0.2s ease-in;
  width: 40px;
}
.scroll .toTop:hover {
  background: #1abc9c;
  color: #ffffff;
}
.scroll .toBotm {
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  background: #1abc9c;
  border-radius: 0 0 3px 3px;
  border-top: 1px solid #bfd1d8;
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  text-align: center;
  transition: all 0.2s ease-in;
  width: 40px;
}
.scroll .toBotm:hover {
  background: #1abc9c;
  color: #ffffff;
}
.scroll .micmenubtn {
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  background: #1abc9c;
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  text-align: center;
  transition: all 0.2s ease-in;
  width: 40px;
}
.scroll-show {
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}
.micmenu {
  -khtml-opacity: 0.8;
  -moz-opacity: 0.8;
  background: #ffffff;
  border-radius: 3px;
  bottom: 40px;
  display: none;
  filter: alpha(opacity=80);
  opacity: 0.8;
  padding: 1px;
  position: fixed;
  right: 55px;
  z-index: 100;
}
.micmenu .user {
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  background: #1abc9c;
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  text-align: center;
  transition: all 0.2s ease-in;
  width: 40px;
}
.micmenu .refresh {
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  background: #1abc9c;
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  text-align: center;
  transition: all 0.2s ease-in;
  width: 40px;
}
.micmenu .edit {
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  background: #1abc9c;
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  text-align: center;
  transition: all 0.2s ease-in;
  width: 40px;
}
.abstract {
  display: inline-block;
  max-height: 12rem;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  word-wrap: break-word;
}
.abstract img {
  display: inline;
  max-height: 100px;
  max-width: 200px;
  vertical-align: text-top;
}
@media (min-width: 992px) {
  .win8 {
    width: 80%;
  }
}
/* 电脑端*/
@media (min-width: 768px) {
  .main {
    min-height: 550px;
  }
}
.theme-popover-mask {
  background: #000000;
  display: none;
  filter: alpha(opacity=40);
  height: 100%;
  left: 0;
  opacity: 0.4;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9998;
}
.theme-popover {
  background-color: #ffffff;
  border-radius: 5px;
  border: solid 2px #666666;
  box-shadow: 0 0 10px #666666;
  display: none;
  height: 360px;
  left: 50%;
  margin: -180px 0 0 -330px;
  position: fixed;
  top: 50%;
  width: 660px;
  z-index: 9999;
}
.theme-poptit {
  border-bottom: 1px solid #dddddd;
  padding: 12px;
  position: relative;
}
.theme-poptit .close {
  color: #999999;
  float: right;
  font: bold 14px/14px simsun;
  margin: -2px -5px -5px;
  padding: 5px;
  text-shadow: 0 1px 0 #dddddd;
}
.theme-poptit .close:hover {
  color: #444444;
}
.theme-popbod {
  color: #444444;
  height: 148px;
  padding: 60px 15px;
}
.theme-popbom {
  background-color: #f6f6f6;
  border-radius: 0 0 5px 5px;
  border-top: 1px solid #dddddd;
  color: #666666;
  padding: 15px;
}
.theme-popbom a {
  margin-left: 8px;
}
.btn.theme-reg {
  display: none;
  left: 43%;
  position: absolute;
  top: 8px;
}
.inp-gray {
  background-color: #fdfdfd;
  border: 1px solid #cccccc;
  color: #444444;
  height: 16px;
  margin-right: 6px;
  padding: 4px;
  width: 220px;
}
.feed-mail-inp {
  background-color: #fdfdfd;
  border: 1px solid #cccccc;
  color: #444444;
  height: 16px;
  margin-right: 6px;
  padding: 4px;
  width: 220px;
}
.dform {
  padding: 80px 60px 40px;
  text-align: center;
}
.dform .ipt_error {
  background-color: #FFFFCC;
  border-color: #FFCC66;
}
.dform-tip {
  background-color: #008800;
  color: #ffffff;
  display: none;
  line-height: 42px;
  margin-top: 10px;
}
.dform-tip a {
  background-color: #FFE924;
  color: #cf301a;
  display: inline-block;
  margin-left: 10px;
  padding: 0 20px;
}
.dform-tip-errer {
  background-color: #cf301a;
}
.dform-login {
  height: 270px;
  overflow: hidden;
  padding: 0;
}
.dform-login iframe {
  height: 470px;
  margin-top: -180px;
}
.theme-signin {
  font-size: 14px;
  margin: -50px -20px -50px 90px;
  text-align: left;
}
.theme-signin h4 {
  color: #999999;
  font-size: 12px;
  font-weight: 100;
  margin-bottom: 20px;
}
.theme-signin li {
  margin-bottom: 15px;
  padding-left: 80px;
}
.theme-signin li strong {
  float: left;
  line-height: 32px;
  margin-left: -80px;
  text-align: right;
  width: 80px;
}
.theme-signin .btn {
  margin-bottom: 10px;
}
.theme-signin p {
  color: #999999;
  font-size: 12px;
}
.theme-desc {
  padding-top: 0;
}
.theme-version {
  padding-top: 0;
}
