#wrapper {
	position: absolute;
	z-index: -1;
}

/* foreground (ballons/landscape) */
#parallax-bg3 {
	z-index: 3;
	position: fixed;
	left: 50%; /* align left edge with center of viewport */
	top: 0;
	width: 940px;
	margin-left: -470px; /* move left by half element's width */
	}
	/* balloon */
	#bg3-1 {
		position: absolute;
		top: -111px;
		left: 355px;
		}
	#bg3-2 {
		position: absolute;
		top: 812px;
		left: 321px;
		}
	#bg3-3 {
		position: absolute;
		top: 1628px;
		right: -100px;
		}
	#bg3-4 {
		position: absolute;
		top: 2700px;
		right: -85px;
		}
/* midground (clouds) */
#parallax-bg2 {
	z-index: 2;
	position: fixed;
	left: 50%; /* align left edge with center of viewport */
	top: 0;
	width: 1200px;
	margin-left: -600px; /* move left by half element's width */
	}
	#bg2-1 {
		position: absolute;
		top: 1200px;
		left: 200px;
		}
	.bg2-1{
		position: absolute;
		left: 200px;
	}
	#bg2-2 {
		position: absolute;
		top: 1200px;
		left: 1150px;
		}
	.bg2-2{
		position: absolute;
		left: 1150px;
	}
	#bg2-3 {
		position: absolute;
		top:1443px;
		left: -35px;
		}
	.bg2-3{
		position: absolute;
		left: -35px;
	}
	#bg2-4 {
		position: absolute;
		top: 1180px;
		left: 250px;
		}
	.bg2-4{
		position: absolute;
		left: 250px;
	}
	#bg2-5 {
		position: absolute;
		top: 1800px;
		left: 890px;
		}
	.bg2-5{
		position: absolute;
		left: 890px;
	}
/* background (clouds) */
#parallax-bg1 {
	z-index: 1;
	position: fixed;
	left: 50%; /* align left edge with center of viewport */
	top: 0;
	width: 1200px;
	margin-left: -600px; /* move left by half element's width */
	}
	#bg1-1 {
		position: absolute;
		top: 1285px;
		left: -270px;
		}
	.bg1-1{
		position: absolute;
		left: -270px;
	}
	#bg1-2 {
		position: absolute;
		top: 1340px;
		left: 795px;
		}
	.bg1-2{
		position: absolute;
		left: 795px;
	}
	#bg1-3 {
		position: absolute;
		top: 1800px;
		left: -220px;
		}
	.bg1-3{
		position: absolute;
		left: -220px;
	}
	#bg1-4 {
		position: absolute;
		top: 1020px;
		left: 450px;
		}
	.bg1-4{
		position: absolute;
		left: 450px;
	}
